@model FormViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<form action="update">
    <div>
        <table>
            <tr>
                <td colspan="2">
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                    Registracijos požymiai
                </td>
                <td>
                    Reikšmė
                </td>
            </tr>

            @foreach (var property in Model.Properties)
            {
                <tr>
                    <td>
                        @property.Name
                    </td>
                    <td>
                        @{
                            var currentIdOfTheProperty = property.CurrentValue.Id;
                            var currentValueOfTheProperty = property.CurrentValue.Name;
                        }
                        @switch (property.Type.Id)
                        {
                            case 1:
                                {
                                    @Html.DropDownList("Values",
                                        new SelectList(property.Values.Select(v => v.Name), currentValueOfTheProperty),
                                        new { id = currentIdOfTheProperty }
                                    )
                                    break;
                                }
                            case 2:
                                {
                                    @Html.TextBox("Text", currentValueOfTheProperty, new { id = currentIdOfTheProperty });
                                    break;
                                }
                        }
                    </td>
                </tr>
             }

            <tr>
                <td colspan="2">
                    <div>
                        @*
                            <input type="button" id="btnEditProperties" value="Koreguoti požymius" />
                            <input type="submit" id="btnSaveChanges" disabled="disabled" value="Saugoti pataisymus" />
                            <input type="button" id="btnDiscardChanges" disabled="disabled" value="Atšaukti pataisymus" />
                        *@
                    </div>
                </td>
            </tr>

        </table>
    </div>
</form>